<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesLay.css">
    <title>LayOut</title>
</head>
<body>
    <section class="nav">
        <div class="navLogo">
            <p style="font-weight: bolder;">Header</p>
            <p>logo</p>
        </div>
        <div class="navNav">
            <ul class="navUl">
                <a href="index.html"><li>Home</li></a>
                <a href="cursos.html"><li>Cursos</li></a>
                <a href="instructores.html"><li>Instructores</li></a>
                <a href="blog.html"><li>Blog</li></a>    
            </ul>
        </div>
    </section>
    <section class="newContent">
        <div class="news">
            <div>
                <p style="font-weight: bolder;">Noticias y Anuncios Cursos</p> 
                <div class="newsItem">
                    <p>News o Ad 1</p>   
                </div>
                <div class="newsItem">
                    <p>News o Ad 2</p>   
                </div>
                <div class="newsItem">
                    <p>News o Ad 3</p>   
                </div>
                <div class="newsItem">
                    <p>News o Ad 4</p>   
                </div>
                <div class="newsItem">
                    <p>News o Ad 5</p>   
                </div>
                <div class="newsItem">
                    <p>News o Ad 6</p>   
                </div>
                <div class="newsItem">
                    <p>News o Ad 7</p>   
                </div>
                <div class="newsItem">
                    <p>News o Ad 8</p>   
                </div>
                <div class="newsItem">
                    <p>News o Ad 9</p>   
                </div>
            </div>
        </div>
        <div class="content">
            <div>
                <p style="font-weight: bolder;">Contenido Cursos</p> 
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
                <p class="parrafoContent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perferendis nobis accusamus quod voluptates maiores recusandae optio ex temporibus quia animi rem nisi nesciunt rerum necessitatibus quos, vel consequatur fugiat?</p>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="contacto">
            <div style="font-weight: bolder;">Contacto o mapa de sitio</div>
        </div>
        <div class="redes">
            <div style="font-weight: bolder;">Redes o Formulario</div>
        </div>
    </section>
</body>
</html>